# Nuxt dev/build outputs
nuxt/.output
nuxt/.data
nuxt/.nuxt
nuxt/.nitro
nuxt/.cache
nuxt/dist

# Node dependencies
nuxt/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
# .env
# .env.*
# !.env.example
